<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDF3tI_6F9RMkovZKywACUhbjUgOxhbAw</string>
	<key>GCM_SENDER_ID</key>
	<string>482140990978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frozit</string>
	<key>PROJECT_ID</key>
	<string>frozit-d1580</string>
	<key>STORAGE_BUCKET</key>
	<string>frozit-d1580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482140990978:ios:ebf721afb32665b31e011b</string>
</dict>
</plist>